[Desktop Entry]
Type=Application
Name=Eclipse (local)
Comment=Eclipse Integrated Development Environment, local version
Icon={{ ansible_user_dir }}/eclipse/eclipse/icon.xpm
Exec={{ ansible_user_dir }}/bin/eclipse
Terminal=false
Categories=Development;IDE;Java;
