[Desktop Entry]
Type=Application
Name=Eclipse (local)
Comment=Eclipse Integrated Development Environment, local version
Icon=eclipse
Exec={{ ansible_user_dir }}/eclipse/current/eclipse/eclipse
Terminal=false
Categories=Development;IDE;Java;
